<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD91yLSGsL0osTqx5gcQekMrYRzxc9gQKk</string>
	<key>GCM_SENDER_ID</key>
	<string>670237322861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Lib231.EmpowerED-Lib</string>
	<key>PROJECT_ID</key>
	<string>empowered-lib</string>
	<key>STORAGE_BUCKET</key>
	<string>empowered-lib.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670237322861:ios:a2a3e487006034e14c9964</string>
</dict>
</plist>